#if($previousArticle)
    $linkRenderer.update($previousArticle)
    <h3>$linkRenderer.render()</h3>
#end

#if($nextArticle) 
    $linkRenderer.update($nextArticle)
    <h3>$linkRenderer.render()</h3>
#end